@{
    ViewData["Title"] = "Home Page";
}

<h1 class="naslov">Welcome!</h1>
<h1 class="naslov1">Order the best food!</h1>
<img src="~/images/Chef.png" height="430" width="430" class="slika">


